@import '../Design_Tokens/_variables.scss';

.Navigation {
  font-size: 2rem;
  width: 100%;
  padding: 1rem;
  background: $color-nav-primary !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $color-nav-secondary $color-nav-primary
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    $color-nav-secondary,
    $color-nav-primary
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  &__Brand {
    font-size: inherit;
  }
}
