@import '../Design_Tokens/_variables.scss';

.VerticalNav {
  margin: 3rem 0;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  border: 2px solid $color-nav-primary;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: $color-nav-primary;
  color: white;

  a {
    line-height: 3rem;
    color: inherit;
    width: 100%;
    text-align: center;
    text-decoration: none;
    &:not(:last-child) {
      margin-bottom: 0 2rem;
    }

    &:hover {
      background-color: rgba($color-nav-secondary, 0.9);
    }

    i {
      font-size: 3rem;
    }
  }
}
